* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(193, 226, 255);
}

.content {
    background-color: brown;
    height: 90vh;
    width: 90%;
}

.name {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}